@import "foundation_and_overrides";

.error-label {
  font-size: 0.875rem;
  color: $warning-color;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
  float: right;
}

.field_with_errors {
  input[type="text"] {
    border: 1px solid $warning-color;
  }
}

.row.full {
  max-width: 100%;

  img {
    height: 250px;
  }
}

.row.feature {
  img {
    width: 400px;
    height: 200px;
  }
}

.footy {
  background-color: #333333;
  color: white;
  height: 30px;
  widows: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  line-height: 25px;
}

#content {
  padding-top: 10px;
  padding-bottom: 30px;
}

#error_explanation {
  //  background-color: something;
}

div {
  //  border: 1px solid red;
}